<th:block th:include="fragments/header :: header" />
<body>
    <th:block th:include="fragments/menu :: menu" />
    <div class="container container-intro">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Twitter Search<small>&nbsp;An AngularJS + Bootstrap + Java Twitter OAuth API Demo</small>
                </h2>
                <p>This application demonstrates a simple call to Twitter via the OAUTH API to get the 5 most recent tweets with the hashtag entered in the
                    textfield below.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form ng-app="hmehtaTwitterSearch" ng-controller="hmehtaTwitterSearchCtrl" ng-submit="doSearch()">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
                            <div class="col-sm-8">
                                <input ng-model="hashtag" type="text" placeholder="Enter #hashtag. (E.g. #NewYork)" class="form-control input-md" />
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" value="Search" class="btn btn-primary" data-toggle="modal" data-target="#results-modal" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="modal fade" id="results-modal" tabindex="-1" role="dialog" aria-labelledby="results-modal-label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="results-modal-label">Twitter Results</h4>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li class="list-group-item alt" ng-repeat="tweet in tweets">
                                                    <div bind-unsafe-html="tweet.text"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<th:block th:include="fragments/footer :: footer" />