<th:block th:include="fragments/header :: header" />
<script type="text/javascript">
	$(function() {
		$("#imageprocessor")
				.validate(
						{
							ignore : ".ignore",
							rules : {
								imageFile : {
									required : true
								},
								imageWidth : {
									required : true
								},
								"g-recaptcha-response" : {
									required : function() {
										if (grecaptcha.getResponse() == '') {
											return true;
										} else {
											return false;
										}
									}
								}
							},
							highlight : function(element) {
								$(element).closest('.form-group').addClass(
										'has-error');
							},
							unhighlight : function(element) {
								$(element).closest('.form-group').removeClass(
										'has-error');
							},
							errorElement : 'span',
							errorClass : 'help-block',
							errorPlacement : function(error, element) {
								if (element.parent('.input-group').length) {
									error.insertAfter(element.parent());
								} else {
									error.insertAfter(element);
								}
							},
							messages : {
								imageFile : {
									required : "Please select the image to upload to the S3 bucket."
								},
								imageWidth : {
									required : "Please select the new width for this image."
								},
								"g-recaptcha-response" : {
									required : "Please provide a valid reCAPTCHA by clicking the \'I\'m not a robot\' checkbox."
								}
							}
						});
	});
</script>
<body>
    <th:block th:include="fragments/menu :: menu" />
    <div class="container container-intro" ng-app="hmStateFacts" ng-controller="hmStateFactsCtrl">
        <div class="row">
            <div class="col-sm-12">
                <h2>Image Processor&nbsp;</h2>
                <h3>Serverless AWS Lambda Microservice</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p align="justify">This is a demo of a serverless AWS Lambda RESTful microservice that allows you to perform certain image processing tasks
                    inclusing resize and convert to monocrome or black and white. Using AWS Lambda allows you to process data or perform other event driven tasks
                    without the need to install and maintin web or application servers. Once you select an image file, other options and click submit, the image is
                    uploaded to a S3 bucket hosted on my AWS account, and then a RESTful POST request is sent to an AWS Lambda function hosted on my account, which
                    processes the image based on the options you selected.</p>
                <p>Please select an image to upload to the S3 bucket and generate a new image with the options selected.</p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form ID="imageprocessor" class="form-horizontal" action="/imageprocessor" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group">
                            <label for="imageFile" class="col-md-2 control-label">Image File</label>
                            <div class="col-md-7">
                                <input type="file" class="form-control" id="imageFile" name="imageFile" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="imageWidth" class="col-md-2 control-label">Image (New) Width</label>
                            <div class="col-md-7">
                                <select class="form-control" id="imageWidth" name="imageWidth">
                                    <option value="">Select</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                    <option value="400">400</option>
                                    <option value="100">500</option>
                                    <option value="600">600</option>
                                    <option value="700">700</option>
                                    <option value="800">800</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="imageColorMode" class="col-md-2 control-label">Color Mode</label>
                            <div class="col-md-7">
                                <select class="form-control" id="imageColorMode" name="imageColorMode">
                                    <option value="COLOR">Color</option>
                                    <option value="MONOCHROME">Monocrome</option>
                                    <option value="BLACK_AND_WHITE">Black &amp; White</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="g-recaptcha" data-sitekey="6Le8myITAAAAAMno5TQk-61OQq7M-eF7aBHoDUK_"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>A similar AWS Lambda based serverless RESTful service can be used to send notifications to any cell phone around the world when,</p>
                <ul>
                    <li>A file is uploaded to S3 bucket.</li>
                    <li>A job is completed in Hadoop cluster.</li>
                    <li>A backend process has finished processing.</li>
                    <li>A new app is downloaded from the app store.</li>
                    <li>A new row is added to the RDS based database or DynamoDB.</li>
                    <li>An IoT (Internet of Things) sensor detects a change, for example, a light is turned on at your home or office, a door is opened, someone
                        is at your front-door, etc.</li>
                </ul>
                <p>
                    For more informaiton on AWS Lambda, please visit <a href="https://aws.amazon.com/lambda/faqs/">https://aws.amazon.com/lambda/faqs/</a>.
                </p>
            </div>
        </div>
    </div>
</body>
<th:block th:include="fragments/footer :: footer" />