<th:block th:include="fragments/header :: header" />
<body>
    <th:block th:include="fragments/menu :: menu" />
    <div class="container container-intro" ng-app="hmStateFacts" ng-controller="hmStateFactsCtrl">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    State Facts<small>&nbsp;An AngularJS + Bootstrap Demo</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Learn about your state.</h3>
                <p>The United States is a collection of states with their own cultures, traditions and fun facts. Have you wondered what makes each state
                    individual and unique? Type a state name into the field to see what your state is widely recognized for.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" value="" ng-model="search" placeholder="Start typing state name to filter results..." class="form-control input-md"
                            required="true" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="state in states">
            <div class="col-sm-4" ng-repeat="s in state">
                <h2>{{s.STATE}}</h2>
                <h4 class="data-display">{{s.NICK_NAME}}</h4>
                <p>
                    <strong>Largest City:</strong> {{s.LARGEST_CITY}} <br /> <strong>Capital:</strong> {{s.CAPITAL}} <br /> <strong>State Name Origin:</strong>
                    {{s.STATE_NAME_ORIGIN}} <br /> <strong>Fun Fact:</strong> {{s.FUN_FACT}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="row"></div>
        </div>
    </div>
</body>
<th:block th:include="fragments/footer :: footer" />