<th:block th:include="fragments/header :: header" />
<body>
    <th:block th:include="fragments/menu :: menu" />
    <div class="container container-intro">
        <div class="row">
            <div class="col-lg-12">
                <span th:if="${error}">
                    <h2>
                        <span th:text="${status}"></span> - <span th:text="${error}"></span>
                    </h2>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p th:if="${message}">
                    <span th:text="${message}"></span>
                </p>
                <p th:if="${timestamp}">
                    <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
                </p>
            </div>
        </div>
    </div>
</body>
<th:block th:include="fragments/footer :: footer" />