<th:block th:include="fragments/header :: header" />
<style>
li.alt {
    background: #f9f9f9;
}

li.alt:nth-child(even) {
    background: #ffffff;
}
</style>
<body>
    <th:block th:include="fragments/menu :: menu" />
    <div class="container container-intro">
        <div class="row">
            <div class="col-md-9">
                <h2>
                    <i class="fa fa-user"></i>&nbsp;&nbsp;Professional Summary
                </h2>
                <p align="justify">&#9642; 13+ years of hands-on, full stack experience in design, development, testing, deployment, support and feature
                    enhancements of multi-tier, multi-threaded, scalable, enterprise web applications, RESTful Web Services and Microservices using OOA/OOD/OOP
                    methodologies.</p>
                <p align="justify">&#9642; 13+ years of hands on back-end experience in coding new and refactoring current multi-threaded enterprise web
                    applications, services and APIs, using Java/J2EE, Concurrency/Multithreading APIs, Collections API, RESTful Web and Microservices API (JAX-RS),
                    Spring Framework, Spring Boot, Spring Security, XML parsing APIs and JSON processing APIs.</p>
                <p align="justify">&#9642; 7+ years of experience participating in whiteboard sessions with business leads and product owners, reviewing
                    requirements and translating them into technical requirements, providing time and resource estimates.</p>
                <p align="justify">&#9642; 7+ years of experience in designing and developing software architecture, test plans, making technology stack
                    decisions, establishing coding standards and development best practices. Performing design and code reviews.</p>
                <p align="justify">&#9642; 7+ years of front-end development experience coding responsive, mobile-first, applications using HTML5, CSS3
                    (Sass/Less), JavaScript, jQuery, AngularJS and Bootstrap.</p>
                <p align="justify">&#9642; 7+ years of experience establishing and working in Agile/Scrum development environments, leading and participating in
                    daily scrum meetings, including experience in continuous integration and deployment using Git, Selenium, Maven and Jenkins.</p>
                <p align="justify">&#9642; 7+ years of experience in coding unit/integration/regression/performance, automated and user acceptance tests using
                    wide array of testing tools including JUnit, Selenium and Mockito.</p>
                <p align="justify">&#9642; 2+ years of hands-on development experience in Hadoop ecosystem including HDFS, MapReduce/YARN, Hive, Pig, HBase,
                    Apache Spark and Cassandra to process and analyze large datasets to extract intelligence, explore trends, improve operational efficiencies and
                    make other real-world business decisions.</p>
                <p align="justify">&#9642; 2+ years of development experience using Amazon Web Services (AWS) including S3, EC2, Elastic Beanstalk, ElastiCache,
                    EMR (Hadoop), RDS, Dynamo DB, Lambda, Elasticsearch Service and Kinesis.</p>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 center-block">
                <img src="/images/hm_profile.png" /> <br /> <br />
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/contact/">Contact</a>
                </p>
                <p>
                    <i class="fa fa-github" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.github.com/Hardeep-Mehta">Github.com/Hardeep-Mehta</a>
                </p>
                <p>
                    <i class="fa fa-gitlab" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://gitlab.com/u/Hardeep">Gitlab.com/Hardeep</a>
                </p>
                <p>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;&nbsp;<a href="http://www.linkedin.com/in/HardeepMehta">Linkedin.com/in/HardeepMehta</a>
                </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-9">
                <h2>
                    <i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp;Technical Skills
                </h2>
                <ul class="list-group">
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Backend</strong>
                            </div>
                            <div class="col-md-10" align="justify">Java (1.5-1.8), J2EE (Servlet, JSP, JSF, and EJB), Concurrency/Multithreading APIs,
                                Collections API, SAX/DOM parsers, JSON processing API, RESTful API (JAX-RS), Spring Framework, Spring Boot, Spring IO, Spring Data,
                                Spring Security, JDBC, and JMS (RabbitMQ) API.</div>
                        </div>
                    </li>
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Frontend</strong>
                            </div>
                            <div class="col-md-10" align="justify">HTML5, CSS3 (Sass/Less), JavaScript, AJAX, jQuery, AngularJS and Bootstrap.</div>
                        </div>
                    </li>
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Database</strong>
                            </div>
                            <div class="col-md-10" align="justify">MySQL, Oracle, DynamoDB and Cassandra. Writing SQL/PLSQL, NoSQL queries, stored procedures,
                                functions, triggers, database design, and normalization.</div>
                        </div>
                    </li>
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Cloud</strong>
                            </div>
                            <div class="col-md-10" align="justify">Amazon Web Services including, S3, EC2, SES, Elastic Beanstalk, Lambda, RDS, MongoDB,
                                DynamoDB, ElastiCache, EMR (Hadoop), Elasticsearch Service and Kinesis.</div>
                        </div>
                    </li>
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Big Data</strong>
                            </div>
                            <div class="col-md-10" align="justify">Hadoop ecosystem including HDFS, MapReduce/YARN, Apache Spark, Solr, Hive, Pig, HBase,
                                Cassandra and Kafka.</div>
                        </div>
                    </li>
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Design Pattern</strong>
                            </div>
                            <div class="col-md-10" align="justify">MVC, Façade, Factory, Singleton, Business Delegate, DAO, DTO, Service Locator and Dependency
                                Injection.</div>
                        </div>
                    </li>
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Server</strong>
                            </div>
                            <div class="col-md-10" align="justify">Apache, Tomcat, WebSphere and JBoss.</div>
                        </div>
                    </li>
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Platform</strong>
                            </div>
                            <div class="col-md-10" align="justify">Windows, Mac OS X and Linux. Writing shell scripts, build scripts, cron jobs and batch
                                processes.</div>
                        </div>
                    </li>
                    <li class="list-group-item alt">
                        <div class="row">
                            <div class="col-md-2" align="right">
                                <strong>Other</strong>
                            </div>
                            <div class="col-md-10" align="justify">Eclipse, CVS, Git, Selenium, JIRA, Confluence, Slack, Screenhero, GitHub, GitLab, JUnit,
                                Mockito, Ant, Maven, Jenkins, SonarQube and CruiseControl.</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 center-block"></div>
        </div>
    </div>
</body>
<th:block th:include="fragments/footer :: footer" />