<th:block th:include="fragments/header :: header" />
<body>
    <th:block th:include="fragments/menu :: menu" />
    <div class="container container-intro">
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    <i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;Projects
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <h3>Amazon Web Services &amp; Cloud</h3>
                <h4 class="project-margin">Send SMS</h4>
                <p class="project-fixed" align="justify">A serverless RESTful microservice that invokes an AWS Lambda function via an http endpoint to send SMS
                    messages to any cell phone in the United States using the Nexmo API.</p>
                <a href="/projects/aws-lambda-sms-microservice/"><button type="button" class="btn btn-primary btn-sm">Live Demo</button></a> <br /> <br />
                <h4 class="project-margin">Image Processor</h4>
                <p class="project-fixed" align="justify">A serverless RESTful microservice that invokes an AWS Lambda function via an http endpoint to process
                    (resize, convert to black and white, etc) any image uploaded to the S3 bucket.</p>
                <a href="/projects/aws-lambda-image-processor-microservice/"><button type="button" class="btn btn-primary btn-sm">Live Demo</button></a> <br /> <br />
            </div>
            <div class="col-md-4 portfolio-item">
                <h3>Social Media APIs</h3>
                <h4 class="project-margin">Twitter Search</h4>
                <p class="project-fixed" align="justify">
                    A responsive web application that queries Twitter using the OAUTH API the Twitter API for a given <i>#hashtag</i> and returns the five 5 most
                    recent tweets containting that <i>#hashtag</i>. Built with AngularJS and Bootstrap on the front-end and Java on the backend.
                </p>
                <a href="/projects/twitter-search/"><button type="button" class="btn btn-primary btn-sm">Live Demo</button></a><br /> <br />
            </div>
            <div class="col-md-4 portfolio-item">
                <h3>Front-end</h3>
                <h4 class="project-margin">State Facts</h4>
                <p class="project-fixed" align="justify">A responsive web application that filters through information about the 50 states stored in a JSON file.
                    The filter is based on the state name typed into the text field. Built with AngularJS and Bootstrap.</p>
                <a href="/projects/state-facts/"><button type="button" class="btn btn-primary btn-sm">Live Demo</button></a><br /> <br />
            </div>
        </div>
    </div>
</body>
<th:block th:include="fragments/footer :: footer" />