<th:block th:include="fragments/header :: header" />
<script type="text/javascript">
	$(function() {
		$("#smsprocessor")
				.validate(
						{
							ignore : ".ignore",
							rules : {
								cellPhoneNumber : {
									required : true,
									minlength : 10,
									maxlength : 10
								},
								serviceProvider : {
									required : true,
								},
								smsText : {
									required : true,
									minlength : 1,
									maxlength : 160
								},
								"g-recaptcha-response" : {
									required : function() {
										if (grecaptcha.getResponse() == '') {
											return true;
										} else {
											return false;
										}
									}
								}
							},
							highlight : function(element) {
								$(element).closest('.form-group').addClass(
										'has-error');
							},
							unhighlight : function(element) {
								$(element).closest('.form-group').removeClass(
										'has-error');
							},
							errorElement : 'span',
							errorClass : 'help-block',
							errorPlacement : function(error, element) {
								if (element.parent('.input-group').length) {
									error.insertAfter(element.parent());
								} else {
									error.insertAfter(element);
								}
							},
							messages : {
								cellPhoneNumber : {
									required : "Please provide a valid 10 digit cell phone number."
								},
								serviceProvider : {
									required : "Please select your service provider."
								},
								smsText : {
									required : "Please provide a valid SMS text. Maximum of 160 characters."
								},
								"g-recaptcha-response" : {
									required : "Please provide a valid reCAPTCHA by clicking the \'I\'m not a robot\' checkbox."
								}
							}
						});
	});
</script>
<body>
    <th:block th:include="fragments/menu :: menu" />
    <div class="container container-intro" ng-app="hmStateFacts" ng-controller="hmStateFactsCtrl">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Send SMS&nbsp;<small>Serverless AWS Lambda Microservice</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p align="justify">This is a demo of a serverless AWS Lambda RESTful microservice that allows you to send an SMS text message to any cell phone
                    in the United States. Using AWS Lambda allows you to process data or perform other event driven tasks without the need to install and maintin web
                    or application servers. The information you enter will be send to an AWS Lambda function hosted at my AWS account, which will get a RESTful POST
                    request to send the SMS text to the cell phone number you provided.</p>
                <p>Please enter the cell phone number and the SMS text you would like to send to that number.</p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="smsprocessor" class="form-horizontal" action="/sendsms" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="cellPhoneNumber" class="col-md-2 control-label">Cell Phone #</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="cellPhoneNumber" name="cellPhoneNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="serviceProvider" class="col-md-2 control-label">Service Provider</label>
                            <div class="col-md-7">
                                <select class="form-control" id="serviceProvider" name="serviceProvider">
                                    <option value="">Select</option>
                                    <option value="ATT">ATT Wireless</option>
                                    <option value="SPRINT">Sprint</option>
                                    <option value="TMOBILE">T-Mobile</option>
                                    <option value="VERIZON">Verizon</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="smsText" class="col-md-2 control-label">SMS Text</label>
                            <div class="col-md-7">
                                <textarea class="form-control" id="smsText" name="smsText" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="g-recaptcha" data-sitekey="6Le8myITAAAAAMno5TQk-61OQq7M-eF7aBHoDUK_"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>A similar AWS Lambda based serverless RESTful service can be used to send notifications to any cell phone around the world when,</p>
                <ul>
                    <li>A file is uploaded to S3 bucket.</li>
                    <li>A job is completed in Hadoop cluster.</li>
                    <li>A backend process has finished processing.</li>
                    <li>A new app is downloaded from the app store.</li>
                    <li>A new row is added to the RDS based database or DynamoDB.</li>
                    <li>An IoT (Internet of Things) sensor detects a change, for example, a light is turned on at your home or office, a door is opened, someone
                        is at your front-door, etc.</li>
                </ul>
                <p>
                    For more informaiton on AWS Lambda, please visit <a href="https://aws.amazon.com/lambda/faqs/">https://aws.amazon.com/lambda/faqs/</a>.
                </p>
            </div>
        </div>
    </div>
</body>
<th:block th:include="fragments/footer :: footer" />