<th:block th:include="fragments/header :: header" />
<body>
    <th:block th:include="fragments/menu :: menu" />
    <div class="container container-intro">
        <div class="row">
            <div class="col-md-12">
                <h2><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Contact</h2>
            </div>
        </div>
        <div class="row" ng-app="contact" ng-controller="mainController">
            <div class="col-md-9 contact-paragraph">
                <div ng-show="!emailsent">
                    <form id="contactform" name="contactform" ng-submit="submitForm()" novalidate="true">
                        <!-- FIRST_NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : contactform.firstname.$invalid &amp;&amp; !contactform.firstname.$pristine }">
                            <label>First Name</label> <input type="text" name="firstname" class="form-control" ng-model="firstname" ng-minlength="1" required="true" />
                            <p ng-show="contactform.firstname.$dirty &amp;&amp; contactform.firstname.$invalid" class="help-block">Your first name is required.</p>
                        </div>
                        <!-- LAST_NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : contactform.lastname.$invalid &amp;&amp; !contactform.lastname.$pristine }">
                            <label>Last Name</label> <input type="text" name="lastname" class="form-control" ng-model="lastname" ng-minlength="1" required="true" />
                            <p ng-show="contactform.lastname.$dirty &amp;&amp; contactform.lastname.$invalid" class="help-block">Your last name is required.</p>
                        </div>

                        <!-- EMAIL -->
                        <div class="form-group" ng-class="{ 'has-error' : contactform.emailaddress.$invalid &amp;&amp; !contactform.emailaddress.$pristine }">
                            <label>Email Address</label> <input type="email" name="emailaddress" class="form-control" ng-model="emailaddress" ng-minlength="1"
                                required="true" />
                            <p ng-show="contactform.emailaddress.$dirty &amp;&amp; contactform.emailaddress.$invalid" class="help-block">Your email address is
                                required.</p>
                        </div>
                        <!-- COMMENTS -->
                        <div class="form-group" ng-class="{ 'has-error' : contactform.comments.$invalid &amp;&amp; !contactform.comments.$pristine }">
                            <label>Comments</label>
                            <textarea name="comments" class="form-control" ng-model="comments" ng-minlength="10" required="true" />
                            <p ng-show="contactform.comments.$dirty &amp;&amp; contactform.comments.$invalid" class="help-block">Comments must be at least 10
                                characters in length.</p>
                        </div>
                        <button type="submit" name="submit" value="Submit" class="btn btn-primary" ng-disabled="contactform.$invalid">Submit</button>
                    </form>
                </div>
                <div ng-show="emailsent">Your email has been sent using the AWS SES service.</div>
            </div>
        </div>
    </div>
</body>
<th:block th:include="fragments/footer :: footer" />